@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-image: url("../graphics/IMG_20190109_172235.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vw;
}

.name {
    font-size: 400%;
    font-family: Montserrat;
}
  
.button {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
}

.button:hover {
    color:#000;
    background-color:#F0EAD6;
}
